h3{
    font-size: 25px !important;
}

.btn-success:hover{
background-color: rgb(255, 63, 5);
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 2px 38px green;}
    to {box-shadow: 1px 2px 38px blue;}
}